*
{
    background-color: #202020;
    color: white;
    font-size: 25px;
    font-family: Verdana;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    width: 30%;
    line-height: 2em;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    margin: 1em;
}

header h1
{
    width: 90%;
    margin: 0 auto;
}

main
{
    width: 50%;
}

form
{
    width: 100%;
}

fieldset
{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend
{
    text-align: center;
}

input
{

}

button
{
    margin: 1em;
}

button:hover
{
    cursor: pointer;
    border: 1px solid white;
    background-color: #404040;
}

form p
{
    font-size: 75%;
}

a
{
    font-size: 100%;
}

span
{
    margin: 0.5em;
}